{% extends "template.html.twig" %}
{% block body %}
<figure class="text-center">
    <blockquote class="blockquote">

      <p>cette application est réalisé par <b>Yakoubi Hatem </b>.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
     Développeur FullStuck
    </figcaption>
  </figure>
{% endblock %}