{% extends 'template.html.twig' %}



{% block body %}
    <h1>Modifier Evènement</h1>

    {{ include('publication/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('publication_index') }}">Retourner à la liste</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
