{% extends 'template.html.twig' %}

{% block title %}Candidat formation{% endblock %}

{% block body %}
<h1>Affecter Formation</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% endblock %}
